<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{head_fragment :: head('Popular') }"></head>
<body class="Site">

<header th:replace="~{header_fragment :: headFragment('Popular')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a th:href="@{/bookshop/main}" th:text="#{topbar.main}"></a>
                </li>
                <li class="breadcrumbs-item"><a th:href="@{/bookshop/main}" th:text="#{topbar.books}"></a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="#{topbar.popular}"></span>
                </li>
            </ul>
            <div class="Section">
                <div class="Section-header">
                    <h1 class="Section-title" th:text="#{topbar.popular}">
                    </h1>
                </div>

                <div class="Cards Cards_refresh">
                    <div class="Card" th:each="dto : ${popularBooks}">
                        <div th:with="book = ${dto.book}, author = ${dto.author}">
                            <div class="Card-picture">
                                <a th:href="@{/book/{slug}/(slug=${book.slug})}">
                                    <img src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                                </a>
                            </div>
                            <div class="Card-content">
                                <strong class="Card-title">
                                    <a th:href="@{/book/{slug}/(slug=${book.slug})}" th:text="${book.title}">Техника</a>
                                </strong>
                                <div class="Card-description" th:text="${author.author}">
                                    Кондратенко Александр Петрович
                                </div>
                                <div class="Card-cost">
                                    <div th:if="${book.discount} > 0">
                                        <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                        <span class="Card-price"
                                              th:text="${book.price - (book.price / 100 * book.discount)}">₽190.00</span>
                                    </div>
                                    <div th:if="${book.discount} == 0">
                                        <span class="Card-price" th:text="${book.price}">₽300.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#"
                                                                     data-refreshshow="popular" data-refreshoffset="20"
                                                                     data-refreshlimit="20" th:text="#{topbar.show}">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{footer_fragment :: footerFragment}"></footer>
<script src="/static/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>